<div class="d-flex flex-column justify-content-between">
  <div style="height:800px; overflow-y: scroll;">
    <div class="w-100 p-2">
      <table mat-table
             [dataSource]="dataSource.news"
             class="table table-dark">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="newsTitle">
          <th mat-header-cell *matHeaderCellDef class="w-90 text-center ">Feed </th>
          <td mat-cell *matCellDef="let element" (click)="clickNews(element)">
            <button class="btn btn-dark justify-content-start">{{element.newsTitle}}>{{element.newsTitle}}</button>
          </td>
      </ng-container>
        <ng-container matColumnDef="newsPublishDateTime">
          <th mat-header-cell *matHeaderCellDef class="w-10 text-center ">Date of Publication </th>
          <td mat-cell *matCellDef="let element" (click)="getFeedOfThisDate(element.newsPublishDateTime)">
            <button class="btn btn-dark justify-content-start">{{element.newsPublishDateTime | date: "MM/dd/yyyy" : 'UTC' : 'en_IN' }}</button>
          </td>
      </ng-container>
        <ng-container matColumnDef="save">
          <th mat-header-cell *matHeaderCellDef class="w-10 text-center ">Save</th>
          <td mat-cell *matCellDef="let element" (click)="savePage(element.newsLink)">
            <button class="btn btn-dark justify-content-start">Save</button>
          </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="['newsTitle', 'newsPublishDateTime', 'save']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['newsTitle', 'newsPublishDateTime', 'save'];"></tr>
      </table>
    </div>
  </div>
  <div class="mt-auto">
    <app-paginator [pageSize]="dataSource.paginationData.pageSize"
     [pageNumber]="dataSource.paginationData.currentPage"
     [pageLength]="dataSource.paginationData.totalItems"
     [pageSizeOption]="dataSource.paginationData.pageSize"
     (pageChanged)="pageChanged($event)">
    </app-paginator>
  </div>
</div>
